<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crews</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="container">
    <div >
        <form data-th-action="@{/crews}" data-th-object="${search}" method="post">
            <table>
                <tr>
                    <th>Search in crew name:</th>
                    <td><input type="text" data-th-field="*{searhInName}" /></td>
                </tr>
            </table>
        </form>
    </div>
    <div>
        <table>
            <tr>
                <th>Name:</th>
                <th>Rank:</th>
                <th>Duty at:</th>
            </tr>
            <tr data-th-each="crew : ${crews}">
                <td data-th-text="${crew.crewName}"></td>
                <td data-th-text="${crew.crewRank}"></td>
                <td data-th-text="${crew.dutyShip.name}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>