<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="container">
    <div>
        <p data-th-if="${regError}" class="error">Username has already been taken!</p>
        <form data-th-action="@{/register}" data-th-object="${officer}" method="post">
            <table>
                <tr>
                    <th>Name:</th>
                    <td><input type="text" data-th-field="*{username}" /></td>
                </tr>
                <tr>
                    <th>Password:</th>
                    <td><input type="text" data-th-field="*{password}" /></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Create</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>